p Hi, here is the authorization code for your GPU price alert
p= `The authorization code is ${authCode}`
p You can use this authorization code to manage you price alerts
p If you have not signed up for this price alert you can ignore this message 
