p Hi, you are receiving this email because you have signed up for price tracker
p You can complete sign up by going to this link
    a(href=authLink)= authLink
p The link will expire in #{expiryMinutes} minutes
p If you have not signed up for this price alert you can ignore this message
